<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>856202568320-lnikt8s3lldmmguhg6h7tp1un0bs83ta.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaxCG5D939WelLFhIOxtSPVaztcNqklNU</string>
	<key>GCM_SENDER_ID</key>
	<string>856202568320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ly.dmi.sippo</string>
	<key>PROJECT_ID</key>
	<string>sippo-31b8b</string>
	<key>STORAGE_BUCKET</key>
	<string>sippo-31b8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856202568320:ios:584c2d9dcd0d3f77f13c65</string>
</dict>
</plist>