<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856202568320-2hkmdbcfeq485ijqjhqollgj659n42gf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856202568320-2hkmdbcfeq485ijqjhqollgj659n42gf</string>
	<key>API_KEY</key>
	<string>AIzaSyCsg-M3eKZyoVuXJ7Zv01HXjPq2x9BKEVo</string>
	<key>GCM_SENDER_ID</key>
	<string>856202568320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobspot</string>
	<key>PROJECT_ID</key>
	<string>sippo-31b8b</string>
	<key>STORAGE_BUCKET</key>
	<string>sippo-31b8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856202568320:ios:f663fcee55dd289ff13c65</string>
</dict>
</plist>